*{
    padding:0;
    margin:0;
  }
  body {
    background-color: #56351e;
  }
  .title{
  text-align: center;
    color: #f19953;
    font-size: 30px;
    letter-spacing: 15px;
    margin-top:50px
  }
  
  #content{
    background-color: #c47335;
    height: 400px;
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 5%;
  }
  
   .input {
    width: 300px;
    height: 40px;
    background-color: #f19953;
    margin: 25px 25px 0 23px;
    border: 1px solid #f19953;
    font-size: 18px;
  }
  .input:focus {
    outline: none;
  } 
  #btn {
    width: 300px;
    height: 300px;
    margin-left: 26px;
    margin-top: 15px;
    padding: 0;
    
  }
  .buttons{
    height: 50px;
    width: 70px;
    margin-right: 1px;
    margin-top: 7px;
    color: #c47335;
    cursor: pointer;
    vertical-align:top;
    font-size:1.3em;
  }